
Jinja2
Pillow
PyYAML
Pygments
Werkzeug
aiofile
aiohttp
autopep8
black[jupyter]
bokeh
branca
environs
fiona
flake8
folium
gensim
h5py
imbalanced-learn
ipython
ipython-genutils
ipywidgets
isort
git+https://github.com/emsi/javalang@end_position
joblib
jupyter-lsp
jupyter-nbextensions-configurator
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
jupyterlab
jupyterlab_code_formatter
jupytext
many_stop_words
mlflow[extras]
mccabe
nbconvert
nbformat
networkx
nltk
notebook
numexpr
numpy
openpyxl
opt-einsum
pandas
pandocfilters
pexpect
pickleshare
prompt-toolkit
protobuf
ptyprocess
pycodestyle
pycparser
pycrypto
pydocstyle
pydot
pyflakes
pylint
pyls-black
python-language-server
pytz
pyzmq
regex
requests
rope
s3transfer
scikit-learn
scipy
seaborn
setuptools
six==1.15.0
smart-open
statsmodels
swifter
tables
tensorboard
tensorflow-estimator
testpath
threadpoolctl
toml
torch
torchvision
tornado
tqdm
traitlets
git+https://github.com/huggingface/transformers
typing-extensions
urllib3
webencodings
widgetsnbextension
wrapt
xgboost
xlrd
yapf
zipp

git+https://github.com/keras-team/keras-tuner.git
autokeras
loralib
sentencepiece
git+https://github.com/huggingface/peft.git
bitsandbytes
openai
tenacity
