# docker_py
#xformers
Jinja2
Pillow
PyYAML
Pygments
Requests
Werkzeug
accelerate
aiofile
aiohttp
autokeras
autopep8
beautifulsoup4
bitsandbytes @ git+https://github.com/TimDettmers/bitsandbytes
black[jupyter]
bokeh
branca
clang
datasets
einops
environs
faiss-cpu
fiona
flake8
folium
gensim
h5py
imbalanced-learn
ipython
ipython-genutils
ipywidgets
isort
javalang @  git+https://github.com/emsi/javalang@end_position
joblib
jupytext
keras-tuner @  git+https://github.com/keras-team/keras-tuner.git
langchain
langchain-openai
libclang
litellm
loralib
lxml
many_stop_words
matplotlib
mccabe
mlflow
mlflow[extras]
nbconvert
nbformat
networkx
nltk
notebook
numexpr
numpy
openai
openpyxl
opt-einsum
pandas
pandocfilters
peft @  git+https://github.com/huggingface/peft.git
pexpect
pickleshare
prompt-toolkit
protobuf
ptyprocess
pycodestyle
pycparser
pycryptodomex
pydantic
pydocstyle
pydot
pyflakes
pylint
pyls-black
python-language-server
python_dateutil
pytz
pyzmq
regex
requests
rope
s3transfer
scikit-learn
scipy
seaborn
sentencepiece
setuptools
six==1.15.0
smart-open
statsmodels
swifter
tables
tenacity
tensorboard
tensorflow
tensorflow-estimator
testpath
tf2onnx
threadpoolctl
tiktoken
toml
torch
torchvision
tornado
tqdm
traitlets
transformers @  git+https://github.com/huggingface/transformers
triton
typer
typing-extensions
urllib3
webencodings
widgetsnbextension
wrapt
xgboost
xlrd
yapf
zipp
