Jinja2
Pillow
PyYAML
Pygments
Werkzeug
accelerate
aiofile
aiohttp
autokeras
autopep8
bitsandbytes
black[jupyter]
bokeh
branca
einops
environs
faiss-cpu
fiona
flake8
folium
gensim
git+https://github.com/emsi/javalang@end_position
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/transformers
git+https://github.com/keras-team/keras-tuner.git
h5py
imbalanced-learn
ipython
ipython-genutils
ipywidgets
isort
joblib
langchain
loralib
many_stop_words
mccabe
mlflow[extras]
nbconvert
nbformat
networkx
nltk
notebook
numexpr
numpy
openai
openpyxl
opt-einsum
pandas
pandocfilters
pexpect
pickleshare
prompt-toolkit
protobuf
ptyprocess
pycodestyle
pycparser
pycrypto
pydocstyle
pydot
pyflakes
pylint
pyls-black
python-language-server
pytz
pyzmq
regex
requests
rope
s3transfer
scikit-learn
scipy
seaborn
sentencepiece
setuptools
six==1.15.0
smart-open
statsmodels
swifter
tables
tenacity
tensorboard
tensorflow-estimator
testpath
threadpoolctl
tiktoken
toml
torch
torchvision
tornado
tqdm
traitlets
triton
typing-extensions
urllib3
webencodings
widgetsnbextension
wrapt
xformers
xgboost
xlrd
yapf
zipp
